<main>
   <div class="p-5">
      <div class="card">
         <div class="card-body">
               <b>Родін Дмитро</b>
               <div class="text-end"><b>Resume project</b></div> 
         </div>
      </div>
      <br>
      <br>
      <br>
      <h4>Cписок сторінок</h4>
      <br>
      <p>Тут вам потрібно написати інформацію про ваш проєкт<br>Поки що можна написати будь-який текст</p>
      <br>
      <br>
      <a href="/task" class="btn btn-primary">Task</a>
      <br>
      <a href="/task2" class="btn btn-primary my-2">Task2</a>
      <br>
      <a href="/task3" class="btn btn-primary">Task3</a>
      <br>
      <a href="/bootstrap" class="btn btn-primary my-2">Bootstrap</a>
      <br>
      <a href="/Shopchat" class="btn btn-primary">Shopchat</a>
      <br>
      <a href="/shopchat2" class="btn btn-primary my-2">Shopchat2</a>
      <br>
      <a href="/shopprofile" class="btn btn-primary">Shopprofile</a>
      <br>
      <a href="/shopreview2" class="btn btn-primary my-2">Shopreview2</a>
      <br>
      <a href="/shopcatalog" class="btn btn-primary">Shopcatalog2</a>
   </div>
</main>
