<main>
   <div class="p-5">
      <div class="card">
        <div class="card-body">
           <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
        </div>
      </div>
      <br>
      <br>
      <h1>Мої замовлення</h1>
      <br>
      <div class="nav nav-tabs">
         <div class="nav-item">
            <a href="#" class="nav-link active"><b>Всі замовлення</b></a>
         </div>
         <div class="nav-item">
            <a href="#" class="nav-link">Гарантія та повернення</a>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-5">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Placeholder" aria-label="Пошук" aria-describedby="basic-addon1">
            </div>
         </div>
         <div class="col-6">
            <button class="btn btn-success">Знайти</button>
            <button class="btn btn-outline-success mx-1">Виділити все</button>
            <button class="btn btn-outline-danger">Очистити все</button>
         </div>
      </div>
      <hr>
      <table>
         <tr>
           <div class="row">
            <td>
               <div class="col-12">
                  <p>№12587463 від 01.01.2023</p>
                  <b>Виконано</b>
               </div>
            </td>
            <td class="px-5">
                <div class="col-12">
                  <p>Сума:</p>
                  <b>25 000 ₴</b>
                </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12 ps-5">
                  <button class="btn btn-primary">Детальніше</button>
               </div>
            </td>
           </div>
         </tr>
      </table>
      <hr>
      <table>
         <tr>
           <div class="row">
            <td>
               <div class="col-12">
                  <p>№12587463 від 01.01.2023</p>
                  <b>Виконано</b>
               </div>
            </td>
            <td class="px-5">
                <div class="col-12">
                  <p>Сума:</p>
                  <b>25 000 ₴</b>
                </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12 ps-5">
                  <button class="btn btn-primary">Детальніше</button>
               </div>
            </td>
           </div>
         </tr>
      </table>
      <hr>
      <table>
         <tr>
           <div class="row">
            <td>
               <div class="col-12">
                  <p>№12587463 від 01.01.2023</p>
                  <b>Виконано</b>
               </div>
            </td>
            <td class="px-5">
                <div class="col-12">
                  <p>Сума:</p>
                  <b>25 000 ₴</b>
                </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12">
                  <img src="https://picsum.photos/100/50" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
               </div>
            </td>
            <td>
               <div class="col-12 ps-5">
                  <button class="btn btn-primary">Детальніше</button>
               </div>
            </td>
           </div>
         </tr>
      </table>
      <hr>
      <br>
      <hr>
      <br>
      <h2>Особиста інформація</h2>
      <br>
      <div class="card">
         <div class="card-body">
            <h3>Особисті дані</h3>
            <div class="card">
               <div class="card-body">
                 <div class="row">
                   <div class="col-4">
                      <div>Прізвище<br><b>Іванов</b></div>
                   </div>
                   <div class="col-4">
                      <div>Ім’я<br><b>Іван</b></div>
                   </div>
                   <div class="col-4">
                      <div>По-батькові<br><b>Іванович</b></div>
                   </div>
                 </div>
               </div>
            </div>
            <br>
            <div class="card">
               <div class="card-body">
                 <div class="row">
                   <div class="col-4">
                      <div>Дата народження<br><b>01.01.2000</b></div>
                   </div>
                   <div class="col-4">
                     <div>Стать<br><b>Чоловіча</b></div>
                   </div>
                   <div class="col-4">
                      <div>Мова<br><b>Українська</b></div>
                   </div>
                 </div>
               </div>
            </div>
            <br>
            <div class="card">
               <div class="card-body">
                 <div class="row">
                   <div class="col-4">
                      <button class="btn btn-primary btn-sm">Редагувати</button>
                   </div>
                   <div class="col-4">
                     <button class="btn btn-outline-secondary btn-sm">Очистити</button>
                   </div>
                   <div class="col-4">
                      <button class="btn btn-outline-danger btn-sm">Видалити</button>
                   </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="card">
         <div class="card-body">
            <h3>Отримувачі</h3>
            <div class="row">
               <div class="col-4">
                  <div class="card">
                     <div class="card-body">
                        <b>Іванов Іван Іванович</b>
                        <p>+38 (098) 222 22 22</p>
                        <button class="btn btn-primary">Редагувати</button>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <div class="card">
                     <div class="card-body">
                        <b>Іванова Івана Іванівна</b>
                        <p>+38 (098) 111 11 11</p>
                        <button class="btn btn-primary">Редагувати</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="card">
         <div class="card-body">
            <h3>Контакти</h3>
            <div class="row">
               <div class="col-3">
                  <div class="card">
                     <div class="card-body">
                        <b>Номер телефону</b>
                        <p>+38 (098) 222 22 22</p>
                        <button class="btn btn-primary">Редагувати</button>
                     </div>
                  </div>
               </div>
               <div class="col-5">
                  <div class="card">
                     <div class="card-body">
                        <b>Додатковий номер телефону</b>
                        <p>+38 (098) 111 11 11</p>
                        <button class="btn btn-outline-secondary">Очистити</button>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <div class="card">
                     <div class="card-body">
                        <b>Електронна адреса</b>
                        <p>ivanivanov@ukr.net</p>
                        <button class="btn btn-outline-danger">Видалити</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <hr class="mt-5">
                  <div class="nav nav-tabs">
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item pe-1">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                  </div>
                 <div class="ps-5">
                   <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                 </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                  </div>

   </div>
</main>
