<main>
   <div class="p-5">
      <div class="card">
         <div class="card-body">
             <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
         </div>
      </div>
      <br>
      <br>
      <h1>Кошик</h1>
      <br>
      <button class="btn btn-outline-secondary">Продовжити покупки</button>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
           <div class="col-md-4">
             <img src="https://picsum.photos/400/200" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
           </div>
           <div class="col-md-8">
             <div class="card-body">
              <table>
               <thead>
                  <tr>
                     <td>
                        <h5 class="card-title">Ноут</h5>
                        <p class="card-text">15,6''; 1920x1080 Full HD; IPS; Intel;<br>Core i5-1135G7; 8 ГБ; SSD; 512 ГБ</p>
                     </td>
                     <td class="px-5">
                        <p>Ціна:</p>
                        <h6>25 000₴</h6>
                     </td>
                     <td class="px-4">
                        1 шт
                     </td>
                     <td>
                        <p class="py-1">
                           <button class="btn btn-primary">Додати</button>
                        </p>
                        <button class="btn btn-outline-danger">Bидалити</button>
                     </td>
                  </tr>
               </thead>
              </table>
             </div>
           </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
           <div class="col-md-4">
             <img src="https://picsum.photos/400/200" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
           </div>
           <div class="col-md-8">
             <div class="card-body">
              <table>
               <thead>
                  <tr>
                     <td>
                        <h5 class="card-title">Ноут</h5>
                        <p class="card-text">15,6''; 1920x1080 Full HD; IPS; Intel;<br>Core i5-1135G7; 8 ГБ; SSD; 512 ГБ</p>
                     </td>
                     <td class="px-5">
                        <p>Ціна:</p>
                        <h6>25 000₴</h6>
                     </td>
                     <td class="px-4">
                        1 шт
                     </td>
                     <td>
                        <p class="py-1">
                           <button class="btn btn-primary">Додати</button>
                        </p>
                        <button class="btn btn-outline-danger">Bидалити</button>
                     </td>
                  </tr>
               </thead>
              </table>
             </div>
           </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
           <div class="col-md-4">
             <img src="https://picsum.photos/400/200" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
           </div>
           <div class="col-md-8">
             <div class="card-body">
              <table>
               <thead>
                  <tr>
                     <td>
                        <h5 class="card-title">Ноут</h5>
                        <p class="card-text">15,6''; 1920x1080 Full HD; IPS; Intel;<br>Core i5-1135G7; 8 ГБ; SSD; 512 ГБ</p>
                     </td>
                     <td class="px-5">
                        <p>Ціна:</p>
                        <h6>25 000₴</h6>
                     </td>
                     <td class="px-4">
                        1 шт
                     </td>
                     <td>
                        <p class="py-1">
                           <button class="btn btn-primary">Додати</button>
                        </p>
                        <button class="btn btn-outline-danger">Bидалити</button>
                     </td>
                  </tr>
               </thead>
              </table>
             </div>
           </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
           <div class="col-md-4">
             <img src="https://picsum.photos/400/200" class="img-fluid rounded-start" alt="https://picsum.photos/400/200">
           </div>
           <div class="col-md-8">
             <div class="card-body">
              <table>
               <thead>
                  <tr>
                     <td>
                        <h5 class="card-title">Ноут</h5>
                        <p class="card-text">15,6''; 1920x1080 Full HD; IPS; Intel;<br>Core i5-1135G7; 8 ГБ; SSD; 512 ГБ</p>
                     </td>
                     <td class="px-5">
                        <p>Ціна:</p>
                        <h6>25 000₴</h6>
                     </td>
                     <td class="px-4">
                        1 шт
                     </td>
                     <td>
                        <p class="py-1">
                           <button class="btn btn-primary">Додати</button>
                        </p>
                        <button class="btn btn-outline-danger">Bидалити</button>
                     </td>
                  </tr>
               </thead>
              </table>
             </div>
           </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <h4>Сумма замовлення</h4>
      <h2>75 000 ₴</h2>
      <p>Без доставки</p>
      <button class="btn btn-success my-3">Оформити замовлення</button>
      <br>
      <button class="btn btn-outline-success">Оформити кредит</button>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <h3 class="text-center">Інші товари</h3>
      <br>
      <div class="row g-1">
        <div class="col-4">
               <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                  <div class="card-body">
                     <div class="card-title">
                         <div class="nav">
                           <h5 class="nav-item px-1">Card title</h5>
                           <div class="nav-item px-2">
                              <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                           </div>
                           <div class="nav-item">
                              <span class="badge text-bg-primary rounded-pill">Нова</span> 
                           </div>
                         </div>
                     </div>
                     <p>Some quick example text to build on the card title and mak...</p>
                  </div>
               </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                <div class="card-body">
                  <h5 class="card-title">Card-title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
               </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                <div class="card-body">
                  <h5 class="card-title">Card-title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card`s...</p>
               </div>
              </div>
            </div> 
      </div>
      <br>
      <br>
      <hr class="mt-5">
      <div class="card mt-4">
            <div class="card-body text-bg-dark">
               <h3>H2 Heading</h3>
               <p>Paragraph</p>
               <button class="btn btn-primary my-2">Зареєструватись</button>
               <br>
               <button class="btn btn-primary">Оформити підписку</button>
      </div>
      <hr class="mt-5">
   </div>
</main>