<main>
   <div class="p-5">
      <div class="card">
         <div class="card-body">
             <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
         </div>
      </div>
      <br>
      <br>
      <h1>Відгуки покупців про Ноут</h1>
      <p>Рейтинг: 4,5/5</p>
      <br>
      <div class="nav nav-tabs">
         <div class="nav-item">
            <a href="#" class="nav-link">Про товар</a>
         </div>
         <div class="nav-item">
            <a href="#" class="nav-link">Характеристики</a>
         </div>
         <div class="nav-item">
            <a href="#" class="nav-link active"><b>Відгуки</b></a>
         </div>
         <div class="nav-item mx-5">
            <div class="card" style="width: 18rem; px-5">
              <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
              <div class="card-body">
                <h5 class="card-title">Ноут Asus</h5>
              </div>
            </div>
         </div>  
      </div>
      <br>
      <div class="row g-1">
         <div class="col-7">
            <div class="card">
               <div class="card-body">
                  <p>Залиште відгук про товар</p>
                  <button class="btn btn-secondary">Написати відгук</button>
               </div>
            </div>
         </div>
         <div class="col-3">
            <div class="card">
               <div class="card-body">
                  <h6>25 000 ₴</h6>
                  <p>Є в наявності</p>
                  <button class="btn btn-primary">Купити</button>
                  <br>
                  <button class="btn btn-secondary my-2">Купити в кредит</button>
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row g-1">
         <hr class="col-7">
         <div class="col-3">
            <div class="card">
              <div class="card-body">
               <p>Продавець:<b>Machinery</b></p>
              </div>
           </div>
         </div>
      </div>
      <br>
      <h2>Хочете поділитись своєю думкою <br> про наш магазин?</h2>
      <br>
      <br>
      <button class="btn btn-warning">Додати відгук</button>
      <button class="btn btn-success mx-1">Позитивні відгуки</button>
      <button class="btn btn-danger">Негативні відгуки</button>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <div class="card">
         <div class="card-body">
            <div class="card">
               <div class="card-body">
                  <b>Іван Іванов</b>
                  <p>Відгук покупця</p>
                  <div>1 січня 2023</div>
                  <hr>
                  <p>Продавець: Machinery</p>
                  <p>Оцінка: 5/5s</p>
                  <p>Цей ноутбук має гарний дизайн та добре виконує свої основні функції. Швидкість роботи та <br>продуктивність в цілому є на задовільному рівні. Крім того, присутній достатній обсяг пам`яті та<br>потужність акумулятора.</p>
                  <p>Однак, можливі проблеми з перегрівом під час тривалого використання, та може бути<br>недостатньо ємності жорсткого диска для потреб користувача. Крім того, ціна може бути дещо<br>високою порівняно з аналогічними моделями.</p>
                  <b>Переваги:</b>
                  <div>Дизайн, швидкість роботи, обсяг пам’яті, акумулятор</div>
                  <br>
                  <b>Недоліки:</b>
                  <div>Перегрів, ємкість жорсткого диску</div>
                  <br>
                  <table>
                     <thead>
                        <tr>
                           <td>
                             <div class="card mb-3" style="max-width: 140px;">
                              <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                             </div>
                           </td>
                           <td class="px-1">
                              <div class="card mb-3" style="max-width: 140px;">
                               <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                              </div>
                           </td>
                           <td>
                              <div class="card mb-3" style="max-width: 140px;">
                               <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                              </div>
                           </td>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
            <div class="card ms-4 mt-4">
               <div class="card-body">
                  <h6>Користувач</h6>
                  <p>1 січня 2023</p>
                  <div>Дякую за відгук, я подумаю про недоліки, про які ви згадували, перш ніж зробити покупку.</div>
               </div>
            </div>
            <div class="card ms-4 my-4">
               <div class="card-body">
                  <h6>Користувач</h6>
                  <p>3 січня 2023</p>
                  <div>Дякую за корисний відгук! Це допомогло мені зробити вибір щодо покупки ноутбука.</div>
               </div>
            </div>
            <div class="card ms-4">
               <div class="card-body">
                  <h6>Користувач</h6>
                  <p>10 січня 2023</p>
                  <div>Дякую за відгук, але я хотів би дізнатися більше деталей про проблеми з перегрівом, щоб<br>зробити зважений вибір перед покупкою.</div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <br>
      <div class="card">
         <div class="card-body">
            <div class="card">
              <div class="card-body">
                 <b>Дмитро Діма</b>
                 <div>Відгук покупця</div>
                 <p class="mt-2">1 січня 2023</p>
                 <hr>
                 <p>Продавець: Machinery</p>
                 <p>Оцінка: 5/5</p>
                 <p>Цей ноутбук має гарний дизайн та добре виконує свої основні функції. Швидкість роботи та<br>продуктивність в цілому є на задовільному рівні. Крім того, присутній достатній обсяг пам яті та<br>потужність акумулятора.</p>
                 <b>Переваги:</b>
                 <div>Обсяг пам’яті, акумулятор</div>
                 <br>
                 <b>Недоліки:</b>
                 <div>Не виявлено</div>
                 <br>
                 <div class="card mb-3" style="max-width: 140px;">
                     <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                 </div>
              </div>
            </div>
            <div class="card ms-4 mt-4">
               <div class="card-body">
                  <h6>Користувач</h6>
                  <p>1 січня 2023</p>
                  <div>Дякую за відгук, я подумаю про недоліки, про які ви згадували, перш ніж зробити покупку.</div>
               </div>
            </div>
         </div>
      </div>
      <div class="card mt-4">
            <div class="card-body text-bg-success text-center">
               <h3>H2 Heading</h3>
               <p class="my-1">Paragraph</p>
               <button class="btn btn-primary my-2">Детальніше</button>
            </div>
      </div>
      <br>
      <hr>
      <div class="table-responsive">
        <table class="table">
          <div class="nav nav-tabs">
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item pe-1">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                  </div>
                 <div class="ps-5">
                   <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                 </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                  </div>

        </table>
      </div>
   </div>
</main>