<main>
   <div class="p-5">
      <div class="card">
         <div class="card-body">
             <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
         </div>
      </div>
      <br>
      <br>
      <h1>Оформлення замовлення</h1>
      <br>
      <br>
      <h3>Контактні данні</h3>
      <br>
      <button class="btn btn-warning">Я новий покупець</button>
      <button class="btn btn-outline-warning">Я постійний покупець</button>
      <br>
      <br>
      <div class="row">
         <div class="col-4">
               <label class="form-label">Прізвище</label>
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Іванов" aria-label="Іванов">
               </div>
               <div class="form-text">Caption text, description,error notification</div>
         </div>
         <div class="col-4">
               <label class="form-label">Ім'я</label>
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Іван" aria-label="Іван">
               </div>
               <div class="form-text">Caption text, description,error notification</div>
         </div>
         <div class="col-4">
            <div class="card my-2">
              <div class="card-body">
               <button class="btn btn-success my-1">Швидке замовлення</button>
               <br>
               <button class="btn btn-danger my-2">Видалити</button>
               <br>
               <button class="btn btn-info">Детальніше</button>
              </div>
            </div>
         </div>
         <div class="col-4">
               <label class="form-label">Мобільний телефон</label>
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="+38 (ХХХ) ХХХ ХХ ХХ" aria-label="+38 (ХХХ) ХХХ ХХ ХХ">
               </div>
               <div class="form-text">Caption text, description,error notification</div>
         </div>
         <div class="col-4">
               <label class="form-label">Пошта</label>
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="ivanivanov@ukr.net" aria-label="ivanivanov@ukr.net">
               </div>
               <div class="form-text">Caption text, description,error notification</div>
         </div>
         <div class="col-4">
            <div class="card">
              <div class="card-body">
               <h2>Всьго</h2>
               <div>Ноут: 25 000 ₴</div>
               <div>Мишка: 25 000 ₴</div>
               <div>Клава: 25 000 ₴</div>
               <br>
               <div>Всього товарів: 75 000 ₴</div>
               <div>Купони: Немає</div>
               <div>Доставка: Безкоштовно</div>
               <br>
               <div class="my-2">Всього товарів: 75 000 ₴</div>
               <button class="btn btn-primary my-2">Підтвердити замовлення</button>
               <br>
               <button class="btn btn-outline-primary">Відмінити купони</button>
              </div>
            </div>
         </div>
      </div>
   </div>
</main>
