<!DOCTYPE html>
<html>
    <head> 
    <body>
    </body>
    </head>
 </html>
   <div>
     <header>
      {{#with main}}
        {{#with hoddies}}
          <main>
             <section>
              {{name 'HTL зараз вивчаємо'}} {{ismain=true}}

                {{> title data="My hobbies"}}
                <ul>
                   {{#each skills}}
                       <li>
                        {{#if point includeZero=true}} ({{point}}) {{/if}}
                        {{/if isTop}} (TOP) {{/if}}

                        {{#unless point includeZero=true}} (не вивчаємо) {{/unless}}

                        {{#unless point }}
                           {{#if  point includeZero=true}}
                                (зараз вивчаємо)
                           {{/if}}

                        {{/unless}}
                       </li>
                   {{/each}}
               </ul>
             </section>
          </main>
        {{/with}}
      {{/with}}
     </header>
   </div>
