<div class="p-5">
   <table class="table">
      <thead>
         <tr>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <button class="btn btn-primary">Primary</button>
            </td>
         </tr>
      </thead>
   </table>
   <div class="p-5">
      <div class="display-5">
         <strong>H1 Heading</strong>
      </div>
      <br>
      <p>Paragraph</p>
      <button class="btn btn-primary">Primary</button>
      <br>
      <br>
      <hr>
      <br>
      <div class="display-6">
         <strong>H2 Heading</strong>
      </div>
   </div>
   <div class="row g-4">
     <div class="col-6">
      <div class="card">
       <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
        <div class="card-body">
         <h5 class="card-title">Card-title</h5>
         <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
         <button class="btn btn-primary">Go somewhere</button>
        </div>
      </div>
     </div>
     <div class="col-6">
      <div class="card">
       <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
       <div class="card-body">
         <h5 class="card-title">Card-title</h5>
         <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
         <button class="btn btn-primary">Go somewhere</button>
       </div>
      </div>
     </div>
     <div class="col-6">
      <div class="card">
       <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
       <div class="card-body">
         <h5 class="card-title">Card-title</h5>
         <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
         <button class="btn btn-primary">Go somewhere</button>
       </div>
      </div>
     </div>
     <div class="col-6">
      <div class="card">
       <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
       <div class="card-body">
         <h5 class="card-title">Card-title</h5>
         <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
         <button class="btn btn-primary">Go somewhere</button>
       </div>
      </div>
     </div>
     <hr>
     <br>
   <table class="table">
      <div class="display-6">
       <strong>H2 Heading</strong>
      </div>
      <thead>
         <tr>
            <th>
               #
            </th>
            <th>
               First
            </th>
            <th>
               Last
            </th>
            <th>
               Hendle
            </th>
         </tr>
      </thead>

      <tbody>
         <tr>
            <th>
               1
            </th>
            <td>
               Mark
            </td>
            <td>
               Otto
            </td>
            <td>
               @mdo
            </td>
         </tr>
      </tbody>
      <tbody>
         <tr>
            <th>
               2
            </th>
            <td>
               Jacob
            </td>
            <td>
               Thornton
            </td>
            <td>
               @fat
            </td>
         </tr>
      </tbody>
      <tbody>
         <tr>
            <th>
               3
            </th>
            <td>
               Larry
            </td>
            <td>
               The bird
            </td>
            <td>
               @twitter
            </td>
         </tr>
      </tbody>
   </table>
   <hr>
   <div class="display-6">
      <strong>H2 Heading</strong>
   </div>
   <br>
   <br>
   <br>
   <br>
   <div class="row gx-2">
      <div class="col-4">
       <div class="card">
         <div class="card-header">
            <div>Card header</div>
         </div>
               <div class="list-group list-group-flush">
                   <div class="list-group-item">
                     <div>A second item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
                </div>
        </div>
       </div>

      <div class="col-4">
       <div class="card">
         <div class="card-header">
            <div>Card header</div>
         </div>
               <div class="list-group list-group-flush">
                   <div class="list-group-item">
                     <div>A second item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
               </div>
        </div>
      </div>
      <div class="col-4">
       <div class="card">
         <div class="card-header">
            <div>Card header</div>
         </div>
               <div class="list-group list-group-flush">
                   <div class="list-group-item">
                     <div>A second item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
                   <div class="list-group-item">
                     <div>A third item</div>
                   </div>
               </div>
        </div>
      </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <hr>
   <br>
   <br>
   <div class="display-4">
      <strong>Display 3</strong>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="row gy-4 gx-2">
    <div class="col-6">
      <div class="card text-bg-secondary">
         <div class="card-body">
            <div>Header</div>
            <b>Secondary card title</b>
            <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
         </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-secondary">
         <div class="card-body">
            <div>Header</div>
            <b>Secondary card title</b>
            <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
         </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-secondary">
         <div class="card-body">
            <div>Header</div>
            <b>Secondary card title</b>
            <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
         </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-secondary">
         <div class="card-body">
            <div>Header</div>
            <b>Secondary card title</b>
            <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
         </div>
      </div>
    </div>
   </div>
    <hr>
    <br>
    <table>
      <thead>
         <tr>
            <td>
                <div class="col-12">
                   <div class="card">
                     <div class="card-header">
                        <div class="text-center">Card header</div>
                     </div>
                     <br>
                     <div class="text-center">
                        <h5>Card title</h5>
                        <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
                        <button class="btn btn-primary">Go somewhere</button>
                        <br>
                        <br>
                        <div class="card-footer">Card footer</div>
                     </div>
                   </div>
                 </div>
                </td>
                <td>
                <div class="card">
                     <div class="card-header">
                        <div class="text-center">Card header</div>
                     </div>
                     <br>
                     <div class="text-center">
                        <h5>Card title</h5>
                        <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
                        <button class="btn btn-primary">Go somewhere</button>
                        <br>
                        <br>
                        <div class="card-footer">Card footer</div>
                     </div>
                </td>
         </tr>
      </thead>
    </table>
    <hr>
    <br>
    <br>
    <br>
    <div class="display-4">
      <b>Display 2</b>
    </div>
    <br>
    <br>
    <table>
      <thead>
         <tr>
            <td>
                  <div class="card text-bg-warning">
                     <div class="card-body">
                       <div>Header</div>
                       <b class="card-title">Secondary card title</b>
                       <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
                     </div>
                  </div>
            </td>
            <td>
               <div class="col-12">
                  <div class="card text-bg-warning">
                     <div class="card-body">
                       <div>Header</div>
                       <b class="card-title">Secondary card title</b>
                       <p>Some quick example text to build on the card title and make up the bulk on the card`s content.</p>
                     </div>
                  </div>
               </div>
            </td>
         </tr>
      </thead>
    </table>
    <hr>
    <h5>H5 Heading</h5>
    <table class="table">
      <thead>
         <tr>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <button class="btn btn-outline-dark">Dark</button>
            </td>
            <td>
               <button class="btn btn-outline-info">Info</button>
            </td>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <button class="btn btn-outline-dark">Dark</button>
            </td>
            <td>
               <button class="btn btn-outline-info">Info</button>
            </td>
         </tr>
      </tbody>
      <tbody>
         <tr>
            <td>
               <a href="#">link</a>
            </td>
            <td>
               <button class="btn btn-outline-dark">Dark</button>
            </td>
            <td>
               <button class="btn btn-outline-info">Info</button>
            </td>
         </tr>
      </tbody>
    </table>
</div>