<main>
   <div class="p-5">
      <div class="card">
        <div class="card-body">
           <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
        </div>
      </div>
      <br>
      <br>
      <div class="nav">
         <div class="nav-item">
            <a href="#" class="nav-link">Головна /</a>
         </div>
         <div class="nav-item">
            <a href="#" class="nav-link">Комп'ютери та ноутбуки /</a>
         </div>
         <div class="nav-item">
            <a href="#" class="nav-link disabled">Ноутбуки</a>
         </div>
      </div>
      <br>
      <br>
      <h1>Ноутбуки</h1>
      <br>
      <div class="row">
         <div class="col-3">
            <select class="form-select form-select-sm" aria-label="Small select example">
               <option selected>За ціною</option>
            </select>
         </div>
         <div class="col-3">
            <select class="form-select form-select-sm" aria-label="Small select example">
               <option selected>За новизною</option>
            </select>
         </div>
         <div class="col-3">
            <select class="form-select form-select-sm" aria-label="Small select example">
               <option selected>За рейтингом</option>
            </select>
         </div>
      </div>
      <br>
      <br>
      <div class="row g-2">
         <div class="col-4">
            <div class="card">
               <div class="card-body">
                  <p>Продавець</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Machinery
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Інші
                    </label>
                  </div>
                  <hr>
                  <p>Бренд</p>
                  <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Пошук" aria-label="Пошук" aria-describedby="basic-addon1">
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Acer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Apple
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Asus
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Dell
                    </label>
                  </div>
                  <hr>
                  <p>Ціна</p>
                  <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="8 000" aria-label="8 000" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="30 000" aria-label="30 000" aria-describedby="basic-addon1">
                  </div>
                  <button class="btn btn-outline-secondary">OK</button>
                  <hr>
                  <p>Готов к отправке</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Готов к отправке
                    </label>
                  </div>
                  <hr>
                  <div>Процесор</div>
               </div>
            </div>
         </div>
         <div class="col-4">
           <div class="card">
             <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
             <div class="card-body">
                 <div class="nav">
                     <div class="nav-item px-2">
                        <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                     </div>
                     <div class="nav-item">
                        <span class="badge text-bg-primary rounded-pill">Новe</span> 
                     </div>
                  </div>
             </div>
             <div class="row g-2 m-2">
               <div class="col-8">
                  <button type="button" class="btn btn-success btn-sm">Швидка доставка</button>
               </div>
               <div class="col-9">
                  <button type="button" class="btn btn-secondary btn-sm">Безкоштовна доставка</button>
               </div>
               <br>
               <h5>Ноут</h5>
               <p>13 відгуків</p>
               <h4>25 000 ₴</h4>
               <p>Готовий до відправки</p>
               <div class="col-8">
                  <button class="btn btn-primary">Купити зараз</button>
               </div>
               <div class="col-8">
                  <button class="btn btn-secondary">Купити в кредит</button>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Діагональ: 15,6'
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Екран: IPS
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Процесор: Intel Core<br> <div class="ms-3">i5 1135G</div>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Оперативна пам’ять: 8 ГБ
               </div>
             </div>
           </div>
         </div>
         <div class="col-4">
           <div class="card">
             <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
             <div class="card-body">
                 <div class="nav">
                     <div class="nav-item px-2">
                        <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                     </div>
                     <div class="nav-item">
                        <span class="badge text-bg-primary rounded-pill">Новe</span> 
                     </div>
                  </div>
             </div>
             <div class="row g-2 m-2">
               <div class="col-8">
                  <button type="button" class="btn btn-success btn-sm">Швидка доставка</button>
               </div>
               <div class="col-9">
                  <button type="button" class="btn btn-secondary btn-sm">Безкоштовна доставка</button>
               </div>
               <br>
               <h5>Ноут</h5>
               <p>13 відгуків</p>
               <h4>25 000 ₴</h4>
               <p>Готовий до відправки</p>
               <div class="col-8">
                  <button class="btn btn-primary">Купити зараз</button>
               </div>
               <div class="col-8">
                  <button class="btn btn-secondary">Купити в кредит</button>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Діагональ: 15,6'
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Екран: IPS
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Процесор: Intel Core<br> <div class="ms-3">i5 1135G</div>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Оперативна пам’ять: 8 ГБ
               </div>
             </div>
           </div>
         </div>
         <div class="col-4">
           <div class="card">
             <div class="card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                           Intel Core i7
                        </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Intel Core i5
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Intel Core i3
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      AMD Ryzen 9
                    </label>
                  </div>
                  <hr>
                  <p>Діагональ екрану</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      13''
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      14''
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      15'' - 15.6''
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      16'' - 17''
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      9'' - 12.5''
                    </label>
                  </div>
                  <hr>
                  <p>Оперативна пам’ять</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      10 - 12ГБ
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      16 - 24ГБ
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      32ГБ і більше
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      4ГБ
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      6 - 8ГБ
                    </label>
                  </div>
                  <hr>
                  <p>Операційна система</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Chrome OS
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Linux
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Windows
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Mac OS
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Без ОС
                    </label>
                  </div>
            </div>
           </div>
         </div>
         <div class="col-4">
           <div class="card">
             <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
             <div class="card-body">
                 <div class="nav">
                     <div class="nav-item px-2">
                        <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                     </div>
                     <div class="nav-item">
                        <span class="badge text-bg-primary rounded-pill">Новe</span> 
                     </div>
                  </div>
             </div>
             <div class="row g-2 m-2">
               <div class="col-8">
                  <button type="button" class="btn btn-success btn-sm">Швидка доставка</button>
               </div>
               <div class="col-9">
                  <button type="button" class="btn btn-secondary btn-sm">Безкоштовна доставка</button>
               </div>
               <br>
               <h5>Ноут</h5>
               <p>13 відгуків</p>
               <h4>25 000 ₴</h4>
               <p>Готовий до відправки</p>
               <div class="col-8">
                  <button class="btn btn-primary">Купити зараз</button>
               </div>
               <div class="col-8">
                  <button class="btn btn-secondary">Купити в кредит</button>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Діагональ: 15,6'
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Екран: IPS
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Процесор: Intel Core<br> <div class="ms-3">i5 1135G</div>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Оперативна пам’ять: 8 ГБ
               </div>
             </div>
           </div>
         </div>
         <div class="col-4">
           <div class="card">
             <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
             <div class="card-body">
                 <div class="nav">
                     <div class="nav-item px-2">
                        <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                     </div>
                     <div class="nav-item">
                        <span class="badge text-bg-primary rounded-pill">Новe</span> 
                     </div>
                  </div>
             </div>
             <div class="row g-2 m-2">
               <div class="col-8">
                  <button type="button" class="btn btn-success btn-sm">Швидка доставка</button>
               </div>
               <div class="col-9">
                  <button type="button" class="btn btn-secondary btn-sm">Безкоштовна доставка</button>
               </div>
               <br>
               <h5>Ноут</h5>
               <p>13 відгуків</p>
               <h4>25 000 ₴</h4>
               <p>Готовий до відправки</p>
               <div class="col-8">
                  <button class="btn btn-primary">Купити зараз</button>
               </div>
               <div class="col-8">
                  <button class="btn btn-secondary">Купити в кредит</button>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Діагональ: 15,6'
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Екран: IPS
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Процесор: Intel Core<br> <div class="ms-3">i5 1135G</div>
               </div>
               <div>
                  <strong class="me-2">.</strong>
                  Оперативна пам’ять: 8 ГБ
               </div>
             </div>
           </div>
         </div>
      </div>
       <hr class="mt-5">
         <div class="card mt-4">
            <div class="card-body text-bg-success text-center">
               <h3>H2 Heading</h3>
               <p class="my-1">Paragraph</p>
               <button class="btn btn-primary my-2">Детальніше</button>
            </div>
         </div>
         <hr class="mt-5">
                  <div class="nav nav-tabs">
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item pe-1">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                  </div>
                 <div class="ps-5">
                   <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                 </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                  </div>
   </div>
</main>
