<main>
   <div class="p-5">
      <div class="card">
        <div class="card-body">
           <div class="nav">
              <div class="nav-item">
                 <a href="#" class="nav-link">Home</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link">link</a>
              </div>
              <div class="nav-item">
                 <a href="#" class="nav-link disabled">Disabled</a>
              </div>
           </div>
        </div>
      </div>
      <br>
      <br>
      <div class="text-center">
        <div class="display-6">
            <b>Топ статті</b>
        </div>
        <br>
      </div>
      <div class="row g-1">
         <div class="col-4">
            <div class="card">
              <div class="card-body text-bg-dark">
                 <div class="card-title">
                        <div class="nav">
                          <div class="nav-item px-1">Ноут</div>
                          <div class="nav-item px-2">
                           <span class="badge text-bg-success rounded-pill">Нове</span>
                          </div>
                          <div class="nav-item">
                           <span class="badge text-bg-danger rounded-pill">Топ</span> 
                          </div>
                        </div>
                 </div>
                 <p>Потрібен новий ноутбук? Як же вибрати правильну модель?</p>
              </div>
            </div>
         </div>
         <div class="col-4">
            <div class="card">
               <div class="card-body text-bg-dark">
                  <div class="card-title">
                     <div class="nav">
                        <div class="nav-item px-1">Принтер</div>
                        <div class="nav-item px-2">
                           <span class="badge text-bg-danger rounded-pill">Топ</span>
                        </div>
                     </div>
                  </div>
                  <p>Обираєте принтер? Ця стаття для тебе.</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="card">
               <div class="card-body text-bg-dark">
                  <div class="card-title">
                     <b>Ідеї подарунків</b>
                  </div>
                  <p>Так хочеться порадувати своїх рідних,близьких,друзів,чудовими подарунками.</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="card">
               <div class="card-body text-bg-dark">
                  <div class="card-title">
                     <b>Ідеї подарунків</b>
                  </div>
                  <p>Так хочеться порадувати своїх рідних,близьких,друзів,чудовими подарунками.</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="card">
               <div class="card-body text-bg-dark">
                  <div class="card-title">
                     <b>Захист для гаджету</b>
                  </div>
                  <p>Якщо декілька років тому вибір зупинився на плівці та...</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="card">
               <div class="card-body text-bg-dark">
                  <div class="card-title">
                     <div class="nav">
                        <div class="nav-item px-1"> <b>Тепло в дім</b></div>
                        <div class="nav-item px-2">
                           <span class="badge text-bg-success rounded-pill">Нова</span>
                        </div>
                     </div>
                  </div>
                  <p>Якщо зовсім недавно ми хотіли щоб у нас вдома було прохолодно, то зараз ми мріємо про тепло .</p>
               </div>
            </div>
         </div>
         <hr class="mt-5">
            <div class="row g-4">
               <div class="col-12">
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link active"><b>ТОП</b></a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Ноути</a>
                     </div>
                     <div class="nav-item mx-5">
                       <a href="#" class="nav-link">ПК</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link disabled">Планшети</a>
                     </div>
                  </div>
               </div>
            </div>
            <br>
         <div class="row g-1">
            <div class="col-4">
               <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                  <div class="card-body">
                     <div class="card-title">
                         <div class="nav">
                           <h5 class="nav-item px-1">Card title</h5>
                           <div class="nav-item px-2">
                              <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                           </div>
                           <div class="nav-item">
                              <span class="badge text-bg-primary rounded-pill">Нова</span> 
                           </div>
                         </div>
                     </div>
                     <p>Some quick example text to build on the card title and mak...</p>
                  </div>
               </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                <div class="card-body">
                  <h5 class="card-title">Card-title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
               </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                <div class="card-body">
                  <h5 class="card-title">Card-title</h5>
                  <p>Some quick example text to build on the card title and make up the bulk of the card`s...</p>
               </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                <div class="card-body">
                  <h5 class="card-title">Card-title</h5>
                  <p>Some quick example text to...</p>
               </div>
              </div>
            </div>
            <div class="col-4">
               <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                  <div class="card-body">
                     <div class="card-title">
                         <div class="nav">
                           <h5 class="nav-item px-1">Card title</h5>
                           <div class="nav-item px-2">
                              <span class="badge text-bg-primary rounded-pill">Нове</span>
                           </div>
                         </div>
                     </div>
                     <p>Some quick example text to build on the card title and make up the bulk of the card`s...</p>
                  </div>
               </div>
            </div>
            <div class="col-4">
               <div class="card">
                  <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product-photo">
                  <div class="card-body">
                     <div class="card-title">
                         <div class="nav">
                           <h5 class="nav-item px-1">Card title</h5>
                           <div class="nav-item px-2">
                              <span class="badge text-bg-warning rounded-pill">НОТ!</span>
                           </div>
                         </div>
                     </div>
                     <p>Some quick example text to build on the card title and make up the bulk of the card`s content.</p>
                  </div>
               </div>
            </div>
         </div>
         <hr class="mt-5">
         <div class="card mt-4">
            <div class="card-body text-bg-dark">
               <h3>H2 Heading</h3>
               <p>Paragraph</p>
               <button class="btn btn-primary my-2">Зареєструватись</button>
               <br>
               <button class="btn btn-primary">Оформити підписку</button>
            </div>
         </div>
         <hr class="mt-5">
         <div class="card mt-4">
            <div class="card-body text-bg-success text-center">
               <h3>H2 Heading</h3>
               <p class="my-1">Paragraph</p>
               <button class="btn btn-primary my-2">Детальніше</button>
            </div>
         </div>
         <hr class="mt-5">
                  <div class="nav nav-tabs">
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                     <div class="nav-item pe-1">
                       <a href="#" class="nav-link">Home</a>
                     </div>
                  </div>
                 <div class="ps-5">
                   <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                     <div class="nav-item mx-4">
                       <a href="#" class="nav-link">Link</a>
                     </div>
                  </div>
                 </div>
                  <div class="nav nav-tabs">
                     <div class="nav-item">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item mx-3">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                     <div class="nav-item pe-2">
                       <a href="#" class="nav-link disabled">Disabled</a>
                     </div>
                  </div>

      </div>
   </div>
</main>
